version: "3.7"
services:

  phpunit:
    container_name: phpunit
    build: .
    image: askelys/phpunit:9-php7.3
    environment:
      PHPUNIT_OPTIONS: ""
      PHPUNIT_TARGET: ""
    volumes: 
        - "./:/app"